<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--CONFIGURATION DU SERVEUR-->
    <!--Adresse IP du serveur-->
    <add key="ip" value="127.0.0.1"/>
    <!--Port sur serveyr-->
    <add key="port" value="5555"/>
    
    <!--CONFIGURATION DU JEU-->
    <!--Nom du fichier contenant la carte-->
    <add key="map" value="testmap.xml"/>
    <!--Indique le nombre de joueurs: 1 ou 2-->
    <add key="players" value="2"/>
    <!--Indique le délai maximum qu'a un joueur pour répondre (en secondes)-->
    <add key="delai" value="5"/>
    
    <!--FIN DE PARTIE-->
    <!--Indiquez au moins une limite-->
    <!--Indique la durée maximum d'une partie (hh:mm:ss)-->
    <!--Commentez pour ne pas avoir de limite de temps-->
    <add key="duree" value="05:30:00"/>
    <!--Indique le nombre de coups max à jouer (pair "to be fair")-->
    <!--Commentez pour ne pas avoir de limite de tours-->
    <add key="maxcoups" value="500"/>
    
    <!--OPTIONS-->
    <!--Active ou non la trace-->
    <add key="trace" value="False"/>
    <!--Indique s'il faut sauvegarder la partie-->
    <add key="save" value="False"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
